html, body {
    background-image: linear-gradient(to bottom right, black, darkblue, black);
    height: 100%;
    margin: auto;
    color: white;
    text-align: center;
    vertical-align: middle;

}

#ran {
    width: 80vw;
    height: 50vh;
    color: rgb(238, 241, 14);
    font-size: x-large;
    -webkit-text-stroke: 0.05rem darkgreen;
    background: rgba(255, 255, 255, 0.1);
    font-family: 'Staatliches', cursive;
    border: 0.5rem darkgreen;
}

.link {
    width: 60vw;
    height: 10vh;
    font-size: large;
    background: rgba(255, 255, 255, 0.1);
    font-family: 'Staatliches', cursive;
    border: 0.5rem darkgreen;
}

#signout_button {
    position: fixed; bottom: 0;
}