html, body {
    background-image: linear-gradient(to bottom right, black, #000044, black);
    height: 100%;
    margin: auto;
    color: white;
    text-align: center;
    padding: 1vh;

}

.ranDiv {
    width: 80vw;
    padding: 1em;
    color: white;
    font-size: xx-large;
    -webkit-text-stroke: 0.05rem black;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Staatliches', 'Noto Sans HK', cursive;
    border: ridge #aaaaff; 
}

.link {
    padding: 1em;
    font-size: xx-large;
    -webkit-text-stroke: 0.05rem black;
    background: rgba(255, 255, 255, 0.3);
    font-family: 'Staatliches', 'Noto Sans HK', cursive;
    border: darkgreen;
    border-width: 1em;
}

#signout_button {
    position: fixed; bottom: 0;
}